---
interface Props {
	date: Date;
	author?:string;
}

const { date, author } = Astro.props;
---
<span>{author}</span>
<time datetime={date.toISOString()}>
	{
		date.toLocaleDateString('es-es', {
			year: 'numeric',
			month: 'long',
			day: 'numeric',
		})
	}
</time>
