---
interface Props {
	date: Date;
	author?:string;
}

const { date, author } = Astro.props;
---

<time datetime={date.toISOString()}>
	{
		date.toLocaleDateString('es-es', {
			year: 'numeric',
			month: 'long',
			day: 'numeric',
		})
	}
</time>
<h5>{author}</h5>
<style>

h5 {

	margin-top: 2%;
}

</style>